@use "variables" as v;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: v.$font-secundaria;
    background-color: v.$color-fons;
    color: v.$color-footer;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}