$color-primari: #335c36; 
$color-secundari: #483333;
$color-card: #5a785c70; 
$color-secc-det: #ffffff; 
$color-links: #d77a09;
$color-fons: #fdfaf6;
$color-footer: #24221e;
$font-principal: 'Slackey', Tahoma, sans-serif;
$font-secundaria: 'Noto Sans Mono', sans-serif;